{% load url from future %}

<html>
    <head>
        <title>Book new</title>
        <style type="text/css">
        <!--
        -->
        </style>
    </head>
    <body>
        <form method="POST" action="" {# enctype="multipart/form-data" #}>{% csrf_token %}
            <table>
                <tbody>
                    {{ form.as_table }}
                    {% comment %}{# custom layout #}
                        <tr>{{ form.detail.label_tag }}: {{ form.detail }}</tr><br>
                        <tr>{{ form.title.label_tag }}: {{ form.title }}</tr><br>
                    {% endcomment %}
                </tbody>
            </table>
            <input type="submit" name="new" value="New" />
        </form>
        <a href="{% url "urlname_booklist" %}">Show book list</a>
    </body>
</html>
