{% load hellofilters hellotags %}

<html>
    <head>
        <title>This is title</title>
    </head>
    <body>
        Hello World from template!<br>
        Parameter is {{ what }}<br>
        My URL is {% url urlname_say what %}<br>
        Hello URL is {% url urlname_sayhello %}<br>
        Goodbye URL is {% url urlname_saygoodbye %}<br>
        <br>

        Custom template tag output: {% substr what %}<br>
        Custom filter output: {{ what|contain:"2" }}<br>
        {% if what|contain:"2" %}
            It contains letter 2
        {% else %}
            It doesn't contain letter 2
        {% endif %}
    </body>
</html>

