<html>
    <head>
        <title>This is title</title>
    </head>
    <body>
        Hello World from template!<br>
        <br>

        Parameter is <b>{{ what }}</b><br>
        My URL is <b>{% url urlname_say what %}</b><br>
        Hello URL is <b>{% url urlname_sayhello %}</b><br>
        Goodbye URL is <b>{% url urlname_saygoodbye %}</b><br>
    </body>
</html>
