<html>
    <head>
        <title>This is title</title>
    </head>
    <body>
        Hello World from template!<br>
        <br>
        Parameter is {{ what }}<br>
        My URL is {% url urlname_say what %}<br>
        Hello URL is {% url urlname_sayhello %}<br>
        Goodbye URL is {% url urlname_saygoodbye %}<br>
    </body>
</html>

