<html>
    <head>
        <title>Book index</title>
        <style type="text/css">
        <!--
            table { border: 2px solid black; }
            thead { background-color: #aaaaaa; }
            tr.row2 { background-color: #eeeeee; }
        -->
        </style>
    </head>
    <body>
        <table>
            <thead><td>No.</td><td>ID</td><td>Name</td><td>Detail</td></thead>
            <tbody>
                {% for book in books %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ book.id }}</td>
                        <td><a href="{% url urlname_bookdetail book.id %}">{{ book.title }}</a></td>
                        <td>{{ book.detail }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url urlname_booknew %}">Add</a>
    </body>
</html>

