<html>
    <head>
        <title>Book detail</title>
        <style type="text/css">
        <!--
            body { font-size: 20px; }
        -->
        </style>
    </head>
    <body>
        <b>Title</b>: {{ book.title }}<br>
        <b>Detail</b>: {{ book.detail }}<br>
        <b>Author</b>: {{ book.author.username }}<br>
        <a href="{% url urlname_bookindex %}">Show book index</a>
    </body>
</html>

