{% load url from future %}
{% load hello_filters hello_tags %}

<html>
    <head>
        <title>This is title</title>
    </head>
    <body>
        Hello World from template!<br>
        <br>

        Parameter is <b>{{ what }}</b><br>
        My URL is <b>{% url "urlname_say" what %}</b><br>
        Hello URL is <b>{% url "urlname_sayhello" %}</b><br>
        Goodbye URL is <b>{% url "urlname_saygoodbye" %}</b><br>
        <br>

        Custom template tag output: <b>{% substr what %}</b><br>
        Custom filter output: <b>{{ what|contain:"2" }}</b><br>
        {% if what|contain:"2" %}
            It contains letter 2
        {% else %}
            It doesn't contain letter 2
        {% endif %}
    </body>
</html>
